<div class="navbar">
  <div class="navbar__user">
    <img src="{{currentUser.avatar}}">
    <div class="navbar__user__info">
      <span class="navbar__user__info__name">{{currentUser.name}}</span>
      <span class="navbar__user__info__username">{{currentUser.username}}</span>
    </div>
  </div>
  <div class="navbar_form">
    formulario de lenguajes
  </div>
  <div class="navbar_communitty">
    Comunidades
  </div>
  <a href="/logout">log out</a>
</div>
