<div class="row">
  <div class="col-3">
  {{>navbar}}
  </div>
  <div class="col-9">
    <div class="container pt-5">
      {{#each results}}

        <p>{{this.full_name}} -  {{this.stargazers_count}} - <a target="_blank" href="{{this.html_url}}">link</a></p>
      {{/each}}
  
    </div>
  </div>
</div>

