<h1>register languages</h1> 
{{currentUser.avatar}}
<div class="profile_form">
  <form action="/profile" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <label><input type="checkbox" name="language" value="JavaScript">JavaScript</label>
    <label><input type="checkbox" name="language" value="Python">Python</label>
    <label><input type="checkbox" name="language" value="Java">Java</label>
    <label><input type="checkbox" name="language" value="Ruby">Ruby</label>
    <label><input type="checkbox" name="language" value="PHP">PHP</label>
    <label><input type="checkbox" name="language" value="C++">C++</label>
    <label><input type="checkbox" name="language" value="TypeScript">TypeScript</label>
    <input type="submit" class="btn btn-success" value="Enviar">
  </form>
</div>